@import "tailwindcss";

*{
  margin: 0;
  padding: 0;
}
/* custom css */
.main{
  background: linear-gradient(239deg,#f07a7a, #005d70, #a0aa14, #719ad8);
  height: 100vh;
}
.header{
    position:fixed;
    width: 100%;
    padding: 35px;
    background:linear-gradient(190deg, #ffe069, #462e2e);
    color: white;
    text-align: center;
}
.footer{
    padding: 15px;
    margin: 17px;
    width: 250px;
    height: 270px;
    border: 2px solid rgba(165, 42, 42, 0.279);
    justify-content: center;
    background-color: #111111;
    border-radius: 31px;
    color: white;
}
.footer-main{
  display: flex;
}